networks:
  home-server-network:
    name: home-server-network
  keycloak_network:
    driver: bridge
  mattermost-network:
    driver: bridge

volumes:
  ipmon:
  caddy_data:
    external: true
  caddy_config:
  logdata:
    driver: local
  mattermost-db-data:
  immich_db:
  model-cache:
  # New Docker-managed NFS volume for Immich Data
  immich_nfs_data:
    driver: local
    driver_opts:
      type: nfs
      o: "addr=192.168.1.2,rw,nolock,hard,nointr,rsize=32768,wsize=32768"
      device: ":/volume1/nganfamily_immich"

secrets:
  ovh.conf:
    file: ./ovh.conf

x-logging: &default-logging
  driver: "json-file"
  options:
    max-size: "3m"
    max-file: "3"

services:

  ##############################################################################
  # caddy - reverse proxy
  caddy:
    image: caddy:2.10.2
    restart: unless-stopped
    container_name: caddy
    logging: *default-logging
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile
      - ./caddy/site:/srv
      - ./caddy/caddy_data:/data
      - ./caddy/caddy_config:/config
    networks:
      - home-server-network
    dns:
      - 8.8.8.8     # Google
      - 1.1.1.1     # Cloudflare


  ##############################################################################
  # ipmon server
  # Monitors external ip address and updates DNS A record redirect if changed
  # Requires the DNS A Record site name to be specified in the environment 
  # variable DNSARECORD. Easiet way is to use a .env file with an entry, e.g.
  # DNSARECORD=example.com
  ipmon:
    container_name: ipmon
    image: pngan/ipmon:latest
    environment:
      DNSARECORD: ${DNSARECORD}
    restart: unless-stopped
    volumes:
      - 'ipmon:/ipmon'
    networks:
      - home-server-network
    logging: *default-logging
    command: "dotnet NetCore.Docker.dll"
    secrets:
      - ovh.conf
    dns:
      - 8.8.8.8     # Google
      - 1.1.1.1     # Cloudflare


  ##############################################################################
  # Ping server
  ping-server:
    container_name: ping
    image: pngan/ping-server
    restart: unless-stopped
    expose:
      - "8000"
    networks:
      - home-server-network
    logging: *default-logging

  ##############################################################################
  # secrets test
  secrets_test:
    container_name: secrets_test
    image: alpine:latest
    entrypoint: "cat /run/secrets/ovh.conf"
    secrets:
      - ovh.conf
    logging: *default-logging

  ##############################################################################
  # Gamebox server
  gamebox-server:
    container_name: gamebox
    image: pngan/gamebox
    restart: unless-stopped
    networks:
      - home-server-network
    logging: *default-logging

  # ##############################################################################
  # # pihole ad blocking dns server
  # # More info at https://github.com/pi-hole/docker-pi-hole/ and https://docs.pi-hole.net/
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "67:67/udp"
      - "8053:80/tcp"
    logging: *default-logging
    environment:
      TZ: 'Pacific/Auckland'
      WEBPASSWORD: 'ngan'
    # Volumes store your data between container upgrades
    volumes:
       - './etc-pihole/:/etc/pihole/'
       - './etc-dnsmasq.d/:/etc/dnsmasq.d/'
    dns:
      - 8.8.8.8
      - 1.1.1.1
    # Recommended but not required (DHCP needs NET_ADMIN)
    #   https://github.com/pi-hole/docker-pi-hole#note-on-capabilities
    cap_add:
      - NET_ADMIN
    networks:
      - home-server-network
    restart: unless-stopped

  # ##############################################################################
  # Seq Server for logging
  #
  # Test with Postman query: https://docs.datalust.co/docs/posting-raw-events
  seqserver:
    container_name: seq
    image: datalust/seq:latest
    ports:
      - 8020:80
      - 5341:5341
    environment:
      ACCEPT_EULA: 'Y'
    volumes:
      - 'logdata:/data'
    networks:
      - home-server-network
    restart: unless-stopped
    logging: *default-logging


  # ##############################################################################
  # transactionsnotes
  #  https://github.com/pngan/transactionnotes 
  #
  # This is home project for downloading bank transactions and attaching notes to them
  #
  # - postgres for keycloak
  # - keycloak for auth
  # - transactionnotes dashboard, api and web
  #

  keycloak_postgres: 
    image: postgres:16.2 # Upgrading this requires deleting postgres_data, which will mean setting up keycloak from scratch
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${KEYCLOAK_POSTGRES_DB}
      POSTGRES_USER: ${KEYCLOAK_POSTGRES_USER}
      POSTGRES_PASSWORD: ${KEYCLOAK_POSTGRES_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "psql -U ${KEYCLOAK_POSTGRES_USER} -d ${KEYCLOAK_POSTGRES_DB} -c 'SELECT 1' || exit 1"]
      interval: 1s
      timeout: 5s
      retries: 10
    networks:
      - keycloak_network
    logging: *default-logging

  keycloak:
    image: quay.io/keycloak/keycloak:23.0.6 # Leave this version. Haven't had much success upgrading to newer version
    command: start
    environment:
      KC_HOSTNAME: ${KEYCLOAK_HOSTNAME}
      KC_HOSTNAME_STRICT: false
      KC_HOSTNAME_STRICT_BACKCHANNEL: false
      KC_HTTP_ENABLED: true
      KC_HOSTNAME_STRICT_HTTPS: false
      KC_METRICS_ENABLED: true
      KC_PROXY: edge
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak_postgres/${KEYCLOAK_POSTGRES_DB}
      KC_DB_USERNAME: ${KEYCLOAK_POSTGRES_USER}
      KC_DB_PASSWORD: ${KEYCLOAK_POSTGRES_PASSWORD}
    ports:
      - 8080:8080
    restart: always
    depends_on:
      keycloak_postgres:
        condition: service_healthy
    networks:
      - keycloak_network
      - home-server-network
    logging: *default-logging

  aspire-dashboard:
    container_name: "aspire-dashboard"
    image: "mcr.microsoft.com/dotnet/aspire-dashboard:8.0"
    environment:
      DOTNET_DASHBOARD_UNSECURED_ALLOW_ANONYMOUS: "true"
    ports:
    - target: 18888
      published: 18888
    - target: 18889
      published: 18889
    restart: unless-stopped
    networks:
      - keycloak_network
      - home-server-network
    logging: *default-logging
  apiservice:
    container_name: "apiservice"
    image: "pngan/apiservice:latest"
    environment:
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY: "in_memory"
      ASPNETCORE_FORWARDEDHEADERS_ENABLED: "true"
      HTTP_PORTS: "8080"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://aspire-dashboard:18888"
      OTEL_SERVICE_NAME: "apiservice"
      TRANSNOTES__AUTHORITY: ${AUTHORITY}
      TRANSNOTES__CLIENTSECRET: ${CLIENTSECRET}
      TRANSNOTES__CLIENTID: ${CLIENTID}
      TRANSNOTES__AUDIENCE: ${AUDIENCE}
    restart: unless-stopped
    networks:
      - keycloak_network
      - home-server-network
    logging: *default-logging
    dns:
      - 8.8.8.8     # Google
      - 1.1.1.1     # Cloudflare
      
  webfrontend:

# Before running this docker compose on a new machine, we need to create a stable location for
# storing the data protection keys needed by asp.net
#
# mkdir -p ~/aspnet-dataprotection-keys
# chmod 700 ~/aspnet-dataprotection-keys
# chown $(id -u):$(id -g) ~/aspnet-dataprotection-keys

    container_name: "webfrontend"
    image: "pngan/webfrontend:latest"
    environment:
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY: "in_memory"
      ASPNETCORE_FORWARDEDHEADERS_ENABLED: "true"
      HTTP_PORTS: "8080"
      services__apiservice__http__0: "http://apiservice:8080"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://aspire-dashboard:18888"
      OTEL_SERVICE_NAME: "webfrontend"
      TRANSNOTES__AUTHORITY: ${AUTHORITY}
      TRANSNOTES__CLIENTSECRET: ${CLIENTSECRET}
      TRANSNOTES__CLIENTID: ${CLIENTID}
      TRANSNOTES__AUDIENCE: ${AUDIENCE}
      ASPNETCORE_ENVIRONMENT: "Development"
    restart: unless-stopped
    networks:
      - keycloak_network
      - home-server-network
    logging: *default-logging
    volumes:
      - ./aspnet-dataprotection-keys:/home/app/.aspnet/DataProtection-Keys
    dns:
      - 8.8.8.8     # Google
      - 1.1.1.1     # Cloudflare
  centraldbserver:
    container_name: "centraldbserver"
    image: "docker.io/library/postgres:17.2"
    environment:
      POSTGRES_HOST_AUTH_METHOD: "scram-sha-256"
      POSTGRES_INITDB_ARGS: "--auth-host=scram-sha-256 --auth-local=scram-sha-256"
      POSTGRES_USER: ${CENTRALDBSERVER_USERNAME}
      POSTGRES_PASSWORD: ${CENTRALDBSERVER_PASSWORD}
      POSTGRES_DB: centraldb
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://aspire-dashboard:18889"
      OTEL_SERVICE_NAME: "centraldbserver"
    restart: unless-stopped
    networks:
      - home-server-network
    logging: *default-logging
  centraldb-migration:
    container_name: "centraldb-migration"
    image: "pngan/centraldb-migration:latest"
    environment:
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY: "in_memory"
      ConnectionStrings__centraldb: ${CENTRALDB_CONNECTION_STRING}
      Database__Central__MigrationUser__Username: ${DATABASE_CENTRAL_MIGRATIONUSER_USERNAME}
      Database__Central__MigrationUser__Password: ${DATABASE_CENTRAL_MIGRATIONUSER_PASSWORD}
      Database__Central__AppUser__Username: ${DATABASE_CENTRAL_APPUSER_USERNAME}
      Database__Central__AppUser__Password: ${DATABASE_CENTRAL_APPUSER_PASSWORD}
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://aspire-dashboard:18889"
      OTEL_SERVICE_NAME: "centraldb-migration"
    networks:
      - home-server-network
    logging: *default-logging
  #######################################################################
  netshoot:
    image: nicolaka/netshoot
    command: tail -f /dev/null
    networks:
      - keycloak_network
      - home-server-network
      - mattermost-network
    dns:
      - 8.8.8.8     # Google
      - 1.1.1.1     # Cloudflare
    logging: *default-logging

  ##############################################################################
# Mattermost - Team Collaboration
  mattermost-db:
    container_name: mattermost-db
    image: postgres:18-alpine
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${MM_DB_USER:-mmuser}
      - POSTGRES_PASSWORD=${MM_DB_PASSWORD}
      - POSTGRES_DB=${MM_DB_NAME:-mattermost}
    volumes:
      - mattermost-db-data:/var/lib/postgresql/data
    networks:
      - mattermost-network
    logging: *default-logging

  mattermost:
    container_name: mattermost
    image: mattermost/mattermost-team-edition:release-11
    restart: unless-stopped
    depends_on:
      - mattermost-db
    dns:
      - 1.1.1.1
      - 8.8.8.8
    user: "2000:2000"
    environment:
      # Database connection
      - MM_SQLSETTINGS_DRIVERNAME=postgres
      - MM_SQLSETTINGS_DATASOURCE=postgres://${MM_DB_USER:-mmuser}:${MM_DB_PASSWORD}@mattermost-db:5432/${MM_DB_NAME:-mattermost}?sslmode=disable&connect_timeout=10
      # Site URL (Critical for Caddy/Websockets)
      - MM_SERVICESETTINGS_SITEURL=https://message.nganfamily.com
      - MM_SERVICESETTINGS_LISTENADDRESS=:8065
    volumes:
      # Mount your NFS path to the container's data directory
      - ${MM_NFS_PATH}/config:/mattermost/config
      - ${MM_NFS_PATH}/data:/mattermost/data
      - ${MM_NFS_PATH}/logs:/mattermost/logs
      - ${MM_NFS_PATH}/plugins:/mattermost/plugins
      - ${MM_NFS_PATH}/client-plugins:/mattermost/client/plugins
      - /etc/localtime:/etc/localtime:ro
    networks:
      - mattermost-network
      - home-server-network
    logging: *default-logging
    labels:
      - "caddy=chat.seemyaccount.com"
      - "caddy.reverse_proxy={{upstreams 8065}}"

  ##############################################################################
  # Immich - Photo and Video hosting
  immich-server:
    container_name: immich_server
    image: ghcr.io/immich-app/immich-server:${IMMICH_VERSION:-release}
    volumes:
      - immich_nfs_data:/data
      - /etc/localtime:/etc/localtime:ro
    environment:
      - DB_PASSWORD=${IMMICH_DB_PASSWORD}
      - DB_USERNAME=${IMMICH_DB_USERNAME}
      - DB_DATABASE_NAME=${IMMICH_DB_NAME}
      - DB_HOSTNAME=immich_postgres
      - REDIS_HOSTNAME=immich_redis
      - IMMICH_MACHINE_LEARNING_URL=http://immich-machine-learning:3003
    ports:
      - '2283:2283'
    depends_on:
      - immich_redis
      - immich_postgres
      - immich-machine-learning
    restart: always
    networks:
      - home-server-network
    logging: *default-logging

  immich-machine-learning:
    container_name: immich_machine_learning
    image: ghcr.io/immich-app/immich-machine-learning:${IMMICH_VERSION:-release}
    volumes:
      - model-cache:/cache
    environment:
      - DB_PASSWORD=${IMMICH_DB_PASSWORD}
      - DB_USERNAME=${IMMICH_DB_USERNAME}
      - DB_DATABASE_NAME=${IMMICH_DB_NAME}
      - DB_HOSTNAME=immich_postgres
      - REDIS_HOSTNAME=immich_redis
    restart: always
    networks:
      - home-server-network
    logging: *default-logging
    dns:
      - 8.8.8.8
      - 1.1.1.1

  immich_redis:
    container_name: immich_redis
    image: docker.io/valkey/valkey:9@sha256:fb8d272e529ea567b9bf1302245796f21a2672b8368ca3fcb938ac334e613c8f
    healthcheck:
      test: redis-cli ping || exit 1
    restart: always
    networks:
      - home-server-network
    logging: *default-logging

  immich_postgres:
    container_name: immich_postgres
    image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23
    environment:
      - POSTGRES_PASSWORD=${IMMICH_DB_PASSWORD}
      - POSTGRES_USER=${IMMICH_DB_USERNAME}
      - POSTGRES_DB=${IMMICH_DB_NAME}
      - POSTGRES_INITDB_ARGS=--data-checksums
    volumes:
      - immich_db:/var/lib/postgresql/data
    shm_size: 128mb
    restart: always
    networks:
      - home-server-network
    logging: *default-logging
